* {
  text-align: center;
}
form {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem;
  margin: 100px auto;
  border: 1px solid #333;
  padding: 40px 40px;
}

input[type="text"],
input[type="email"],
input[type="password"],select{
  padding: 8px 0px;
  border: 1px solid #80b;
  background-color: rgb(247, 240, 250);
  border-radius: 5px;
  outline: none;
  width: 100%;
  color: rgb(41, 24, 24);
  margin:8px 0px ;
}
form div input:focus {
  border: 2px solid #80b;
}
form label{
  font-size: medium;
  display: flex;
}
.error {
  color: red;
}
.submitActive {
  font-size: larger;
  width: 50%;
  padding: 10px 20px;
  background-color: rgb(137, 43, 226);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submitNotActive {
  font-size: larger;
  width: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(189, 171, 171, 0.664);
  color: white;
  cursor: not-allowed;
}
.radioBtn {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
input + label {
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}
